.Cards {
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 40px;
  column-gap: 10px;
  max-width: 1640px;
  margin: 10rem;
}
/* .Card {
  width: 150px;
  height: 100px;
  border-radius: 5px;

} */
