.Cards {
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 40px;
  column-gap: 40px;
  max-width: 1640px;
  margin: 3rem;
}
.Card {
  width: 150px;
  height: 100px;
  border-radius: 5px;

}
