.ImagenTitulo {
  background-image: url('./Titulo_rick_y_morty.gif');
  height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 100px

  ;
} 

.Firma {
  font-family: 'Patrick Hand', cursive;  
  font-size: 30px;
  margin-top: 50px;
}
