.nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #6c757d, #495057, #343a40); 
  height: 80px;
}

.links_container {
  display: flex;
  gap: 1rem;
}


.MeeseekAsomandose {
  margin-top: 30px;
  width: 150px;
  height: 80px;
  background-image: url('./Meeseek.png');
  background-size: cover;
  background-position: center;
}

.Home {
  background-image: url('./Casa_2.png');
  background-size: 90%;
  background-position: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.About {
  background-image: url('./Signo_pregunta.png');
  background-size: 90%;
  background-position: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.LogOut {
  background-image: url('./Flecha_volver.png');
  background-size: 90%;
  background-position: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.Home:hover,
.About:hover,
.LogOut:hover {
  transform: scale(1.1);
}

.Home:active,
.About:active,
.LogOut:active {
  transform: scale(0.9);
}

