.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, rgb(54, 116, 211), rgb(17, 85, 141), rgb(46, 68, 146)); 
  height: 80px;
}

.links_container {
  display: flex;
  gap: 1rem;
}

.Home {
  background-image: url('./Casa_2.png');
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.About {
  background-image: url('./Signo_pregunta.png');
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.LogOut {
  background-image: url('./Flecha_volver.png');
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform (0,2);
}

.Home:hover,
.About:hover,
.LogOut:hover {
  transform: scale(1.1);
}

.Home:active,
.About:active,
.LogOut:active {
  transform: scale(0.9);
}

