.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Form {
  width: 25%;
  background: linear-gradient(to right, rgb(29, 41, 83), rgb(32, 46, 82), rgb(29, 41, 83));
  padding: 10px;
  transform: scale(1.5);
  margin-top: 75px;
}

.FormContainer img {
  width: 476px;
  height: auto;
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .Form {
    width: 40%;
    transform: scale(1.2);
  }
  
  .FormContainer img {
    width: 200px;
    transform: scale(1.2);
  }
}
